:root {
    --sidebar-width: 150px;
    --footer-height: 30px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - var(--footer-height));
}

#view {
    flex: 1;
    height: calc(100vh - var(--footer-height));
}

#footer {
    width: 100%;
    height: var(--footer-height);
}