<link rel="stylesheet" type="text/css" media="screen" href="./css/message.css" />
<div class="chat-container">

    <div class="chat-header">
        Semaphor
    </div>
    <div class="chat-messages">
        <div class="message">
            <div class="text">Hey! How's it going?</div>
        </div>
        <div class="message sender">
            <div class="text">I'm doing well, thanks! Any exciting plans for the day?</div>
        </div>
        <div class="message">
            <div class="text">Not much, just catching up on some work. How about you?</div>
        </div>
        <div class="message sender">
            <div class="text">Just finished a workout. Feeling energized!</div>
        </div>
        <div class="message">
            <div class="text">Nice! I should probably hit the gym too.</div>
        </div>
        <div class="message">
            <div class="text">Hey! How's it going?</div>
        </div>
        <div class="message sender">
            <div class="text">I'm doing well, thanks! Any exciting plans for the day?</div>
        </div>
        <div class="message">
            <div class="text">Not much, just catching up on some work. How about you?</div>
        </div>
    </div>
</div>
<!-- More messages here -->


</div>
<div class="chat-input">
    <input type="text" placeholder="Type your message...">
    <button id="send-btn">Send</button>

</div>
</div>