<link rel="stylesheet" type="text/css" media="screen" href="./css/message.css" />
<div class="chat-container">

    <div class="chat-header">
        Semaphor
    </div>
    <div class="chat-messages">
        <div class="message">
            <div class="info">
                <div class="user">
                    <div class="avatar">A</div>
                    <div class="nom">admin</div>
                </div>
                <div class="date">10/03/23</div>
            </div>
            <div class="text">Hey! ça joue ?</div>
        </div>

        <div class="message sender">
            <div class="info">
                <div class="user">
                    <div class="avatar">G</div>
                    <div class="nom">gendres</div>
                </div>
                <div class="date">11/03/23</div>
            </div>
            <div class="text">Mais oui et toi, técole ?</div>
        </div>
    </div>
    <div class="chat-input">
        <input type="text" disabled placeholder="Vous devez être logué pour envoyer des messages.">
        <button id="load-login">Login</button>

    </div>
</div>