<link rel="stylesheet" type="text/css" media="screen" href="./css/rooms.css" />

<div class="rooms">
    <div class="join-zone">
        <div class="room-list">
            <div class="room">Principale</div>
            <div class="room">La salle de gendres</div>
            <div class="room">Admin Only</div>
            <div class="room">scarap mekganic</div>
        </div>
    </div>
    <div class="creation-zone">
        <div id="room-form">
            <input type="text" placeholder="Nom de salle" class="input-field" id="room-name">
            <button type="button" class="create-room-btn" id="newRoomBtn">Créer une room</button>
        </div>
    </div>
</div>