<link rel="stylesheet" type="text/css" media="screen" href="./css/rooms.css" />

<div class="rooms">
    <div class="join-zone">
        <div class="room-list">
            <div class="room">Principale</div>
            <div class="room">La salle de gendres</div>
            <div class="room">Admin Only</div>
            <div class="room">scarap mekganic</div>
        </div>
        <button class="join-btn">Rejoindre</button>
    </div>
    <div class="creation-zone">
        <form id="room-form">
            <input type="text" placeholder="Nom de salle" class="input-field" id="room-name">
            <button type="submit" class="create-room-btn">Créer une room</button>
        </form>
    </div>
</div>